<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.TC_001_Get_All_Personal_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>assertContentType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>chkCookies</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusLine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertServerType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentEncoding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertEmptyResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAllPersonalData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.TC_004_Put_Personal_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>assertContentType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusLine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertServerType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseBodyContain</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentEncoding</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateSiswa</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.TC_002_Get_Single_Personal_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>assertElementOwnWebsiteValid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusLine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentLength</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertElementAgeUnder</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertEmptyElement</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertEmptyResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertElementPersonalCardIdValid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertElementEmailValid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertElementAgeValid</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertServerType</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getSinglePersonalData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.TC_003_Post_Personal_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CreatePersonalData</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusLine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertServerType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentEncoding</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertEmptyResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCases.TC_005_Delete_Personal_Data</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>assertContentType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseBodyEmpty</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertResponseTime</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusLine</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertStatusCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertServerType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>assertContentEncoding</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deletePersonalData</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
