<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Personal Data Rest API Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b37288">  <td>20/04/30 10:15:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.CreatePersonalData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">CreatePersonalData</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:00</td>   <td>1362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.CreatePersonalData(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">CreatePersonalData</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2144</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertContentEncoding(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertContentEncoding</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:01</td>   <td>2704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.assertContentEncoding(java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">assertContentEncoding</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:02</td>   <td>4110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Put_Personal_Data.assertContentEncoding(java.lang.String)[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">assertContentEncoding</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:05</td>   <td>6949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Delete_Personal_Data.assertContentEncoding(java.lang.String)[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">assertContentEncoding</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertContentLength(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertContentLength</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertContentType(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertContentType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:01</td>   <td>2707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.assertContentType(java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">assertContentType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:02</td>   <td>4114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Put_Personal_Data.assertContentType(java.lang.String)[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">assertContentType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:05</td>   <td>6953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Delete_Personal_Data.assertContentType(java.lang.String)[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">assertContentType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="8df37b">  <td>20/04/30 10:15:58</td>   <td>-659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_002_Get_Single_Personal_Data.assertEmptyElement()[pri:0, instance:testCases.TC_002_Get_Single_Personal_Data@17c1bced]">assertEmptyElement</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertEmptyResponseBody()[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertEmptyResponseBody</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:01</td>   <td>2710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.assertEmptyResponseBody()[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">assertEmptyResponseBody</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:02</td>   <td>4118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Put_Personal_Data.assertResponseBodyContain()[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">assertResponseBodyContain</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:05</td>   <td>6957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Delete_Personal_Data.assertResponseBodyEmpty()[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">assertResponseBodyEmpty</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertResponseTime(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertResponseTime</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:01</td>   <td>2712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.assertResponseTime(java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">assertResponseTime</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:02</td>   <td>4121</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Put_Personal_Data.assertResponseTime(java.lang.String)[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">assertResponseTime</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:05</td>   <td>6959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Delete_Personal_Data.assertResponseTime(java.lang.String)[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">assertResponseTime</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertServerType(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertServerType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:01</td>   <td>2714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.assertServerType(java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">assertServerType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:02</td>   <td>4123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Put_Personal_Data.assertServerType(java.lang.String)[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">assertServerType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:05</td>   <td>6962</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Delete_Personal_Data.assertServerType(java.lang.String)[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">assertServerType</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertStatusCode(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertStatusCode</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:01</td>   <td>2717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.assertStatusCode(java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">assertStatusCode</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:02</td>   <td>4125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Put_Personal_Data.assertStatusCode(java.lang.String)[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">assertStatusCode</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:05</td>   <td>6964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Delete_Personal_Data.assertStatusCode(java.lang.String)[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">assertStatusCode</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.assertStatusLine(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">assertStatusLine</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:16:01</td>   <td>2723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_Post_Personal_Data.assertStatusLine(java.lang.String)[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">assertStatusLine</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:02</td>   <td>4128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_004_Put_Personal_Data.assertStatusLine(java.lang.String)[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">assertStatusLine</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:05</td>   <td>6966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_005_Delete_Personal_Data.assertStatusLine(java.lang.String)[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">assertStatusLine</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:56</td>   <td>-2077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_001_Get_All_Personal_Data.chkCookies(java.lang.String)[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">chkCookies</td> 
  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="81ae9f">  <td>20/04/30 10:16:02</td>   <td>4139</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_005_Delete_Personal_Data.deletePersonalData()[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">&gt;&gt;deletePersonalData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="f084a8">  <td>20/04/30 10:15:54</td>   <td>-4444</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_001_Get_All_Personal_Data.getAllPersonalData()[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">&gt;&gt;getAllPersonalData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="8df37b">  <td>20/04/30 10:15:56</td>   <td>-2069</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_002_Get_Single_Personal_Data.getSinglePersonalData()[pri:0, instance:testCases.TC_002_Get_Single_Personal_Data@17c1bced]">&gt;&gt;getSinglePersonalData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="b37288">  <td>20/04/30 10:15:58</td>   <td>-457</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_003_Post_Personal_Data.init()[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="628586">  <td>20/04/30 10:15:54</td>   <td>-4462</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TC_001_Get_All_Personal_Data@161b062a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="628586">  <td>20/04/30 10:15:56</td>   <td>-2071</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TC_002_Get_Single_Personal_Data@17c1bced]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="628586">  <td>20/04/30 10:15:58</td>   <td>-458</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TC_003_Post_Personal_Data@2d9d4f9d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="628586">  <td>20/04/30 10:16:01</td>   <td>2728</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="628586">  <td>20/04/30 10:16:02</td>   <td>4138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setup()[pri:0, instance:testCases.TC_005_Delete_Personal_Data@e50a6f6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
<tr bgcolor="a57272">  <td>20/04/30 10:16:01</td>   <td>2729</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_004_Put_Personal_Data.updateSiswa()[pri:0, instance:testCases.TC_004_Put_Personal_Data@4034c28c]">&gt;&gt;updateSiswa</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896828359</td>   <td></td> </tr>
</table>
